/* GERAL */

*>p{
  font-size: 18px;
  font-family: helvetica;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  
/* HEADER */

}
#logo {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
}
.logo{
  max-width: 15vw;
  
}
#foto {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}

#title-home {

text-align: center;
}
header {
  border-bottom: 2px black solid;
  
}
.cabecalho{
  display: flex;
  text-align: center;
  align-items: center;
  border-bottom: 2px black solid;
  max-width: 100%;
  max-height: 25vh;
}
.botoes {
text-align: center;

}
.botao0 {
  background-color: white;
  width: 150px;
  height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 15px;
  color: black;
  }
  .botao0:hover {
    background-color:black;
    color: white
  }


/* PAGINA EXPERIENCIA */
#labenu {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  /* position: absolute;
  left: 0; */
  display: inline;

}
.labenu-text{
  display: inline;
  font-size: 18px;
  font-family: helvetica;
  text-align: justify;
}
.cv{
  text-align: center;
  font-size: 32px;
  font-family: helvetica;
  
}
#unicid {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  /* position: absolute;
  left: 0; */
  display: inline;

}
#gru {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  /* position: absolute;
  left: 0; */
  display: inline;

}
#bk {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  /* position: absolute;
  left: 0; */
  display: inline;

}
.text-cv{
  font: size 18px;
  font-family: helvetica;
  text-align: justify;
  
}
.form{
  font-size: 18px;
  font-family: helvetica;
  text-align: justify;
}
.container{
  font: size 18px;
  font-family: helvetica;
  text-align: justify;
  
}
.img-sites{
  max-width: 36rem;
  max-height: 30rem;
  width: auto;
  height: auto;
  padding: 8px;
  
  
}
.projetos{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  .projetos-img{
max-width:5rem;
max-height:5rem;

}
.for-ever{
  text-align: center;
}