*{
  margin: 0;
  padding: 0;
  font-family: roboto;
  font-size: 18px;
  text-align: center;
}
body{
  display: grid;
  background-color: rgb(251, 254, 251);
}

header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 10vh;
  align-items: center;
  padding: 25px;
  background-color: rgb(203, 227, 203);

  
}
footer{
  display: flex;
  
}


#div1{
  width: 285px;
  height: 160px;
}
#div2{
  width: 285px;
  height: 160px;
}
#div3{
  width: 285px;
  height: 160px;
}
#div4{
  width: 285px;
  height: 160px;
}
#div5{
  width: 285px;
  height: 160px;
}
#div6{
  width: 285px;
  height: 160px;
}
#div7{
  width: 285px;
  height: 160px;
}
#div8{
  width: 285px;
  height: 160px;
}

main{
  padding: 25px;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4,minmax(286px,1fr));
  grid-template-rows: repeat(4,minmax(286px,1fr));
  align-items: stretch;
  }
  footer {
    display:flex;
    border-top: 1px solid black;
    height: 5vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin:0;
    background-color: rgb(203, 227, 203);
  
  }
