
.fundoCabecalho{
  background-color:#A0B0AD;
  text-align:center
}
.centralizar{
  text-align: center;
  display: block;

  }
  .rodape1{
    text-align: center;
    display: block;
  }
  .centralizar1{
    text-align: center;
    display: block;
  
    }
  